@font-face {
  font-family: "Comic Sans";
  src: url("/assets/COMIC.woff2") format("woff2");
  src: url("/assets/COMIC.woff") format("woff");
  src: url("/assets/COMIC.ttf") format("truetype");
}

body {
  background: black;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  text-align: center;
}

a {
  color: white;
}